doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#3700ff")
        title Verify email with otp
        link(rel="icon", href="/img/icon.png", type="image/png")
        link(rel="stylesheet", href="/css/v1.css")
        script(src="/socket.io/socket.io.js")
    body 
        span#gmail(style="display: none;")= email 
        section.sec
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3700ff" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,160C384,139,480,85,576,90.7C672,96,768,160,864,202.7C960,245,1056,267,1152,277.3C1248,288,1344,288,1392,288L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
            div.bubble
            div.verify-email 
                div.head 
                    h1 Verify your email 
                    p Please enter the 6-digit verification code that was sent to your email address
                form(action=`/2FA/verify-email/${email}/${id}`, method="post").sec 
                    div.field 
                        label(for="code") Verification code 
                        input(type="number", name="otp", id="otp-mail", maxlength="6") 
                    div.field 
                        div.message#warn= message
                        input#verify-mail(type="submit", value="Verify code")
                footer 
                    span Didn't get the code?
                    a#resend(href="#") Resend code
        script(src="/js/v1.js") 